{:paths ["src"]
 :deps {iglu {:mvn/version "0.1.0-SNAPSHOT"}
        org.lwjgl/lwjgl {:mvn/version "3.2.1"}
        org.lwjgl/lwjgl-glfw {:mvn/version "3.2.1"}
        org.lwjgl/lwjgl-opengl {:mvn/version "3.2.1"}}
 :aliases {:dev {:extra-deps {org.clojure/clojurescript {:mvn/version "1.10.520"}
                              dynadoc {:mvn/version "RELEASE"}
                              com.bhauman/figwheel-main {:mvn/version "0.2.0"}
                              orchestra {:mvn/version "2018.12.06-2"}
                              expound {:mvn/version "0.7.2"}
                              defexample {:mvn/version "1.7.0"}
                              org.lwjgl/lwjgl$natives-linux {:mvn/version "3.2.1"}
                              org.lwjgl/lwjgl$natives-macos {:mvn/version "3.2.1"}
                              org.lwjgl/lwjgl$natives-windows {:mvn/version "3.2.1"}
                              org.lwjgl/lwjgl-glfw$natives-linux {:mvn/version "3.2.1"}
                              org.lwjgl/lwjgl-glfw$natives-macos {:mvn/version "3.2.1"}
                              org.lwjgl/lwjgl-glfw$natives-windows {:mvn/version "3.2.1"}
                              org.lwjgl/lwjgl-opengl$natives-linux {:mvn/version "3.2.1"}
                              org.lwjgl/lwjgl-opengl$natives-macos {:mvn/version "3.2.1"}
                              org.lwjgl/lwjgl-opengl$natives-windows {:mvn/version "3.2.1"}}
                 :extra-paths ["target" "dev-resources"]}
           :prod {:extra-deps {leiningen {:mvn/version "2.9.0"}}}}}
