{:paths ["src"]
 :deps {iglu {:mvn/version "0.2.0"}
        expound {:mvn/version "0.7.2"}
        net.mikera/vectorz-clj {:mvn/version "0.48.0"
                                :exclusions [net.mikera/core.matrix]}}
 :aliases {:dev {:extra-deps {org.clojure/clojurescript {:mvn/version "1.10.520"}
                              dynadoc {:mvn/version "RELEASE"}
                              com.bhauman/figwheel-main {:mvn/version "0.2.0"}
                              orchestra {:mvn/version "2018.12.06-2"}
                              org.lwjgl/lwjgl {:mvn/version "3.2.1"}
                              org.lwjgl/lwjgl$natives-linux {:mvn/version "3.2.1"}
                              org.lwjgl/lwjgl$natives-macos {:mvn/version "3.2.1"}
                              org.lwjgl/lwjgl$natives-windows {:mvn/version "3.2.1"}
                              org.lwjgl/lwjgl-glfw {:mvn/version "3.2.1"}
                              org.lwjgl/lwjgl-glfw$natives-linux {:mvn/version "3.2.1"}
                              org.lwjgl/lwjgl-glfw$natives-macos {:mvn/version "3.2.1"}
                              org.lwjgl/lwjgl-glfw$natives-windows {:mvn/version "3.2.1"}
                              org.lwjgl/lwjgl-opengl {:mvn/version "3.2.1"}
                              org.lwjgl/lwjgl-opengl$natives-linux {:mvn/version "3.2.1"}
                              org.lwjgl/lwjgl-opengl$natives-macos {:mvn/version "3.2.1"}
                              org.lwjgl/lwjgl-opengl$natives-windows {:mvn/version "3.2.1"}
                              org.lwjgl/lwjgl-stb {:mvn/version "3.2.1"}
                              org.lwjgl/lwjgl-stb$natives-linux {:mvn/version "3.2.1"}
                              org.lwjgl/lwjgl-stb$natives-macos {:mvn/version "3.2.1"}
                              org.lwjgl/lwjgl-stb$natives-windows {:mvn/version "3.2.1"}}
                 :extra-paths ["dev-resources"]}
           :prod {:extra-deps {leiningen {:mvn/version "2.9.0"}}}}}
