{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.10.0"}
        play-cljc {:mvn/version "0.3.0"}
        org.lwjgl/lwjgl {:mvn/version "3.2.1"}
        org.lwjgl/lwjgl-glfw {:mvn/version "3.2.1"}
        org.lwjgl/lwjgl-opengl {:mvn/version "3.2.1"}
        org.lwjgl/lwjgl-stb {:mvn/version "3.2.1"}
        edna {:mvn/version "1.6.0"}}
 :aliases {:dev {:extra-deps {org.clojure/clojurescript {:mvn/version "1.10.520"}
                              com.bhauman/figwheel-main {:mvn/version "0.2.0"}
                              nightlight {:mvn/version "RELEASE"}
                              orchestra {:mvn/version "2018.12.06-2"}
                              expound {:mvn/version "0.7.2"}}
                 :extra-paths ["target"]}
           :prod {:extra-deps {org.clojure/clojurescript {:mvn/version "1.10.520"}
                               leiningen {:mvn/version "2.9.0"}}}
           :linux {:extra-deps {org.lwjgl/lwjgl$natives-linux {:mvn/version "3.2.1"}
                                org.lwjgl/lwjgl-glfw$natives-linux {:mvn/version "3.2.1"}
                                org.lwjgl/lwjgl-opengl$natives-linux {:mvn/version "3.2.1"}
                                org.lwjgl/lwjgl-stb$natives-linux {:mvn/version "3.2.1"}}}
           :macos {:extra-deps {org.lwjgl/lwjgl$natives-macos {:mvn/version "3.2.1"}
                                org.lwjgl/lwjgl-glfw$natives-macos {:mvn/version "3.2.1"}
                                org.lwjgl/lwjgl-opengl$natives-macos {:mvn/version "3.2.1"}
                                org.lwjgl/lwjgl-stb$natives-macos {:mvn/version "3.2.1"}}}
           :windows {:extra-deps {org.lwjgl/lwjgl$natives-windows {:mvn/version "3.2.1"}
                                  org.lwjgl/lwjgl-glfw$natives-windows {:mvn/version "3.2.1"}
                                  org.lwjgl/lwjgl-opengl$natives-windows {:mvn/version "3.2.1"}
                                  org.lwjgl/lwjgl-stb$natives-windows {:mvn/version "3.2.1"}}}}}
