{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.11.1"}
        play-cljc/play-cljc {:mvn/version "0.9.6"}
        org.lwjgl/lwjgl {:mvn/version "3.3.1"}
        org.lwjgl/lwjgl-glfw {:mvn/version "3.3.1"}
        org.lwjgl/lwjgl-opengl {:mvn/version "3.3.1"}
        org.lwjgl/lwjgl-stb {:mvn/version "3.3.1"}
        org.lwjgl/lwjgl$natives-linux {:mvn/version "3.3.1"}
        org.lwjgl/lwjgl-glfw$natives-linux {:mvn/version "3.3.1"}
        org.lwjgl/lwjgl-opengl$natives-linux {:mvn/version "3.3.1"}
        org.lwjgl/lwjgl-stb$natives-linux {:mvn/version "3.3.1"}
        org.lwjgl/lwjgl$natives-macos {:mvn/version "3.3.1"}
        org.lwjgl/lwjgl-glfw$natives-macos {:mvn/version "3.3.1"}
        org.lwjgl/lwjgl-opengl$natives-macos {:mvn/version "3.3.1"}
        org.lwjgl/lwjgl-stb$natives-macos {:mvn/version "3.3.1"}
        org.lwjgl/lwjgl$natives-macos-arm64 {:mvn/version "3.3.1"}
        org.lwjgl/lwjgl-glfw$natives-macos-arm64 {:mvn/version "3.3.1"}
        org.lwjgl/lwjgl-opengl$natives-macos-arm64 {:mvn/version "3.3.1"}
        org.lwjgl/lwjgl-stb$natives-macos-arm64 {:mvn/version "3.3.1"}
        org.lwjgl/lwjgl$natives-windows {:mvn/version "3.3.1"}
        org.lwjgl/lwjgl-glfw$natives-windows {:mvn/version "3.3.1"}
        org.lwjgl/lwjgl-opengl$natives-windows {:mvn/version "3.3.1"}
        org.lwjgl/lwjgl-stb$natives-windows {:mvn/version "3.3.1"}}
 :aliases {:dev {:extra-deps {org.clojure/clojurescript {:mvn/version "1.11.4"}
                              com.bhauman/figwheel-main {:mvn/version "0.2.18"}}
                 :main-opts ["dev.clj"]}
           :prod {:extra-deps {org.clojure/clojurescript {:mvn/version "1.11.4"}
                               leiningen/leiningen {:mvn/version "2.9.0"}}
                  :main-opts ["prod.clj"]}
           :macos {:jvm-opts ["-XstartOnFirstThread"]}}}
